.menu {
  padding: 0;
  border-bottom: 1px solid black;
}
.menu > li {
  display: inline-block;
  text-align: center;
}
.menu > li > a {
  display: inline-block;
  width: 80px;
  padding: 10px;
  text-decoration: none;
}
a:hover,
a:focus {
  color: white;
  background-color: gray;
}
a:active {
  color: white;
  background-color: black;
}

input:disabled {
  background-color: gray;
}
input:checked {
  height: 20px;
  width: 20px;
}
input:checked + label {
  font-weight: 900;
}
